.gallery {
    width: 40%;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    overflow: auto;
    scroll-snap-type: x mandatory;

    border-radius: 20px;
}

.indicador {
    opacity: 0;

    width: 40%;

    position: absolute;
    left: 30%;
    z-index: 1;

    & img {
        border-radius: 10px;
    }
}

.gallery img {
    width: 100%;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
}

.gallery:hover {
    & .indicador {
        opacity: 0.6;
    }
}